<?
/**
*	Rename this file to Config.example and fill with your settings
*/
class Config {
	
	static protected $settings = [	"ftpHost" => "ftp.server.com",
							"ftpLogin" => "username",
							"ftpPass" => "password",
							"remoteFile" => "/web/ipcam/cam.jpg",
							"remoteFileLock" => "/web/ipcam/cam.lock",
							"fileLock" => "./publisher/cam.lock",
							"folder" => "./",
							"workDir" => "./workdir",
							"filename" => "cam.jpg",
							"openWeatherApiKey" => "Your_Key_Here",
							"sleep" => 5	// do it every number of seconds
							];
	
	static function get($key) {
		return self::$settings[$key];
	}

}
?>